
main{
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  background-color:#a7adba;
  flex-shrink: 100;
}
.body-container{
  display: grid;
  grid-template-columns: 5fr 1fr;
}
aside{
  background-color:	#F5F5F5;
}
