
main{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  background-color:#7CB9E8;
}
.body-container{
  display: grid;
  grid-template-columns: 8fr 1fr;
}
aside{
  background-color:	#F5F5F5;
}
